each movie, i in movies
	article.movies__article
		img.movies__img(src=`images/movies/${movie.img}.jpg`)
		h2.movies__h2
			span.movies__number 0#{i+1}
			span.movies__side
				span.movies__title=movie.title
				span.movies__year=movie.year
