include  _icons
doctype html 
html
	head
		title=title
		link(rel='stylesheet', href='/styles/style.css')
		meta(name='viewport' content='windth=device-width, initial-scale=1')
	body
		.wrap
			.profile.hide(style='background-image: url(' + bgImage + ');')
				a(href='#').menu
					span Movies
					+icon('menu')
				.movies
					include _movies
			.information
				h1.information__name 
					small=firstname  
					| #{lastname}
				p.information__description= content				 
				.breadcrumb
					ul 
						li 
							a(href="charles") Charles Chaplin
							a(href="marilyn") Marilyn Monroe
							a(href="jean") Jean Simmons
	script(src='js/script.js')
