doctype html
html
  head
    title render local variable
  body
    p render success
    p hello there, #{name}!
    if hello != null
        p Hi there, #{hello}!
    else
        p Hi there, unknown person!
