<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ChatCat - Cat's Away!</title>
	<style>
	.container {
		position: relative;
	    height: 140px;
	    width: 400px;
	    background: #c3c3c3;
	    padding: 10px;
	    top: 96px;
	    left: 200px;
	    border-left: 19px solid #D24343;
	}

	h1 {
		font-family: sans-serif;
		margin: 5px;
	}

	hr {
		border: none;
    	height: 1px;
    	background: #000;
	}

	p {
		font-family: sans-serif;
	}
	</style>
</head>
<body>
	<div class="container">
		<h1>404</h1>
		<hr>
		<p>The page you're looking for could not be found! We looked everywhere, even on the Moon, but we couldn't find the thing! :(</p>
	</div>
</body>
</html>