<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>SecureChat |
		<%= pageTitle %>
	</title>
	<link rel="stylesheet" href="./css/loginStyles.css">
	<script src="/js/jquery-2.1.4.min.js"></script>
</head>

<body>
	<div class="container">
		<div class="titlePanel">
			<h1>SecureChat |
				<%= pageTitle %>
			</h1>
		</div>
		<div class="loginButton">
			<a href="rooms.htm">
				<img id="loginBtnImg" src="./img/fbLoginBtn.png" alt="Sign-In with Facebook">
			</a>

			<a href="rooms.htm">
				<img id="loginBtnImg" src="./img/twLoginBtn.png" alt="Sign-In with Twitter">
			</a>
		</div>
	</div>
</body>

</html>