<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Secure Chat - Rooms</title>
	<link rel="stylesheet" href="./css/roomsStyles.css">
	<script src="/js/jquery-2.1.4.min.js"></script>
</head>

<body>
	<div class="container">
		<div class="titlePanel">
			<h1>Secure Chat | Select or Create a Chatroom</h1>
		</div>
		<div class="controls">
			<div class="userPicHolder"><img src="<%= user.profilePic %>" alt="<%= user.fullName %>"></div>
			<p class="userName">
				<%= user.fullName %>
			</p>
			<a href="/logout" id="logOutBtn">Logout</a>
		</div>
		<div class="controls">
			<input type="text" name="roomName" placeholder="Create a new Chatroom">
			<a href="#" id="createBtn">Create</a>
		</div>
		<div class="roomsListDiv">
			<ul class="roomsList" id="roomsListUL">
				<!-- Loop list items here -->
				<a href="chatroom.htm">
					<li>Realtime Chatting Application</li>
				</a>
				<a href="chatroom.htm">
					<li>Test</li>
				</a>
				<!-- Loop ends -->
			</ul>
		</div>
	</div>
</body>

</html>