<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ChatCat - Rooms</title>
	<link rel="stylesheet" href="./css/roomsStyles.css">
	<script src="/js/jquery-2.1.4.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="titlePanel">
			<h1>ChatCAT | Select or Create a Chatroom</h1>
		</div>
		<div class="controls">
			<div class="userPicHolder"><img src="./img/user.jpg" alt="John Doe"></div>
			<p class="userName">John Doe</p>
			<a href="login.htm" id="logOutBtn">Logout</a>
		</div>
		<div class="controls">
			<input type="text" name="roomName" placeholder="Create a new Chatroom">
			<a href="#" id="createBtn">Create</a>
		</div>
		<div class="roomsListDiv">
			<ul class="roomsList" id="roomsListUL">
			<!-- Loop list items here -->
				<a href="chatroom.htm"><li>World Cuisine</li></a>
				<a href="chatroom.htm"><li>Coffee and Conversations</li></a>
			<!-- Loop ends -->
			</ul>
		</div>
	</div>
</body>
</html>